node-red-demos/apis-example-demo/defaults/flow.json
[{"id":"b3e4bae0.0cef98","type":"tab","label":"Flow 1"},{"id":"b947438f.57138","type":"ui_base","name":"IoT4I Apis Example","theme":"theme-light"},{"id":"3853cbfd.f5ddc4","type":"ui_link","z":"","name":"IoT4I","link":"https://console.ng.bluemix.net/docs/services/IotInsurance/index.html","icon":"open_in_browser","target":"newtab","order":1},{"id":"8bddedef.43b33","type":"ui_group","z":"","name":"Create User","tab":"c3cb2580.712e98","order":1,"disp":true,"width":"6"},{"id":"80db76be.943d48","type":"ui_group","z":"","name":"Result","tab":"c3cb2580.712e98","order":3,"disp":true,"width":"6"},{"id":"a8f9a8a1.1d1478","type":"ui_group","z":"","name":"Read User","tab":"c3cb2580.712e98","order":2,"disp":true,"width":"6"},{"id":"c4f2a830.eaf5e8","type":"ui_group","z":"","name":"Results","tab":"614ceb3b.eb2a34","order":2,"disp":true,"width":"6"},{"id":"80763cb8.b61b4","type":"ui_group","z":"","name":"Results","tab":"ec116e3.2015b9","order":3,"disp":true,"width":"6"},{"id":"bd52ac32.dd0da","type":"ui_group","z":"","name":"Results","tab":"a9d03021.0e193","order":3,"disp":true,"width":"6"},{"id":"15528280.62e5be","type":"ui_group","z":"","name":"Results","tab":"b13f656c.a43a28","order":3,"disp":true,"width":"6"},{"id":"def05133.04359","type":"ui_group","z":"","name":"Connect to IoT4I","tab":"2659cdc9.4893d2","disp":true,"width":"6"},{"id":"cd673806.46c358","type":"ui_group","z":"","name":"Create Shield","tab":"b13f656c.a43a28","order":1,"disp":true,"width":"6"},{"id":"99cabeae.cf31b","type":"ui_group","z":"","name":"Read Shield","tab":"b13f656c.a43a28","order":2,"disp":true,"width":"6"},{"id":"452cf8e3.a47378","type":"ui_group","z":"","name":"Create Shield JSCode","tab":"ec116e3.2015b9","order":1,"disp":true,"width":"6"},{"id":"f5be6e66.aa694","type":"ui_group","z":"","name":"Read Shield JSCode","tab":"ec116e3.2015b9","order":2,"disp":true,"width":"6"},{"id":"9f9f845e.ea4d58","type":"ui_group","z":"","name":"Create Shield Association","tab":"a9d03021.0e193","order":1,"disp":true,"width":"6"},{"id":"2468a50d.c18caa","type":"ui_group","z":"","name":"Read Shield Association","tab":"a9d03021.0e193","order":2,"disp":true,"width":"6"},{"id":"c3cb2580.712e98","type":"ui_tab","z":"","name":"User","icon":"dashboard","order":10},{"id":"9c6a92f6.bbf98","type":"ui_tab","z":"","name":"Global","icon":"dashboard","order":5},{"id":"614ceb3b.eb2a34","type":"ui_tab","z":"","name":"Hazard Event","icon":"dashboard","order":3},{"id":"ec116e3.2015b9","type":"ui_tab","z":"","name":"JS Code","icon":"dashboard","order":4},{"id":"a9d03021.0e193","type":"ui_tab","z":"","name":"Associations","icon":"dashboard","order":8},{"id":"b13f656c.a43a28","type":"ui_tab","z":"","name":"Shield","icon":"dashboard","order":9},{"id":"2659cdc9.4893d2","type":"ui_tab","z":"","name":"Configure","icon":"dashboard","order":1},{"id":"5e03c049.fb392","type":"ui_group","z":"","name":"Get Hazard Events","tab":"614ceb3b.eb2a34","order":1,"disp":true,"width":"6"},{"id":"2f71589f.ef95c8","type":"ui_group","z":"","name":"Simulate Event","tab":"9c6a92f6.bbf98","order":1,"disp":true,"width":"6"},{"id":"df2196c2.a73aa8","type":"ui_group","z":"","name":"Results","tab":"9c6a92f6.bbf98","order":2,"disp":true,"width":"6"},{"id":"ed7a10ed.cdc2f","type":"IBMIoTI","z":"b3e4bae0.0cef98","userid":"","password":"","uri":"","name":"IoT4I ","client":"based_on_input","apisDevice":"","apisGlobal":"","apisHazardEvent":"","apisJSCode":"","apisPromotion":"","apisRegistration":"","apisShieldAssociation":"","apisShield":"","apisUser":"getUserPerUserName","x":570.4285202026367,"y":291,"wires":[["a67ca052.c7d1e","57069002.7e20d"]]},{"id":"f22fb770.2e3338","type":"ui_form","z":"b3e4bae0.0cef98","name":"Create User","label":"","group":"8bddedef.43b33","order":0,"width":"0","height":"0","options":[{"label":"Username","value":"username","type":"text","required":true},{"label":"Fullname","value":"fullname","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true},{"label":"AccessLevel","value":"accessLevel","type":"text","required":true},{"label":"Address","value":"address","type":"text","required":true},{"label":"email","value":"email","type":"text","required":true},{"label":"DeviceId","value":"deviceId","type":"text","required":true},{"label":"DeviceType","value":"deviceType","type":"text","required":true},{"label":"Type","value":"type","type":"text","required":true}],"formValue":{"username":"","fullname":"","password":"","accessLevel":"","address":"","email":"","deviceId":"","deviceType":"","type":""},"payload":"","topic":"","x":75,"y":81.96428871154785,"wires":[["4bcf1d33.c69e04"]]},{"id":"4bcf1d33.c69e04","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var user = msg.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIUser';\nmsg.payload.api = 'createUser';\nmsg.payload.user = user;\nreturn msg;","outputs":1,"noerr":0,"x":234,"y":82.96428871154785,"wires":[["ed7a10ed.cdc2f"]]},{"id":"26f7059f.1423ba","type":"ui_toast","z":"b3e4bae0.0cef98","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notification","x":1128.4285202026367,"y":23,"wires":[]},{"id":"a474c512.11b948","type":"switch","z":"b3e4bae0.0cef98","name":"","property":"apiGroup","propertyType":"msg","rules":[{"t":"eq","v":"IotIUser","vt":"str"},{"t":"eq","v":"IotIGlobal","vt":"str"},{"t":"eq","v":"IotIHazardEvent","vt":"str"},{"t":"eq","v":"IotIJSCode","vt":"str"},{"t":"eq","v":"IotIShieldAssociation","vt":"str"},{"t":"eq","v":"IotIShield","vt":"str"}],"checkall":"true","outputs":6,"x":871.4285202026367,"y":295,"wires":[["b4e8d71.b922f28"],["d372f1a.4b3ff1"],["d201bee1.966b4"],["bf3fc604.0178d8"],["cab7836f.3037"],["9c4b3619.2ecdd8"]]},{"id":"a67ca052.c7d1e","type":"function","z":"b3e4bae0.0cef98","name":"","func":"if (msg.error)\n{\n    msg.payload = msg.error;\n}else\n{\n    msg.payload = msg.body;\n}\nreturn msg;","outputs":1,"noerr":0,"x":721.9285202026367,"y":296,"wires":[["a474c512.11b948"]]},{"id":"152d604.671e8a","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var userName =  msg.payload.userName;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIUser';\nmsg.payload.api = 'getUserPerUserName';\nmsg.payload.userName = userName;\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":140.96428871154785,"wires":[["ed7a10ed.cdc2f"]]},{"id":"57069002.7e20d","type":"function","z":"b3e4bae0.0cef98","name":"","func":"if (msg.error)\n{\n    msg.payload = msg.api + \" failed !\"\n}else if (msg.connect === true)\n{\n    msg.payload = \"connected successfully to IoT4I !\";\n}else if (msg.connect === false)\n{\n    msg.payload = \"please connect to IoT4I first !\";\n}else\n{\n    msg.payload = msg.api + \" is successful !\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860.9285202026367,"y":23,"wires":[["26f7059f.1423ba"]]},{"id":"b4e8d71.b922f28","type":"ui_template","z":"b3e4bae0.0cef98","group":"80db76be.943d48","name":"User Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1114.178482055664,"y":129.75000190734863,"wires":[[]]},{"id":"18d14f3b.24a371","type":"ui_form","z":"b3e4bae0.0cef98","name":"Read User","label":"","group":"a8f9a8a1.1d1478","order":0,"width":"6","height":"15","options":[{"label":"User Name","value":"userName","type":"text","required":true}],"formValue":{"userName":""},"payload":"","topic":"","x":65,"y":138.96428871154785,"wires":[["152d604.671e8a"]]},{"id":"d201bee1.966b4","type":"ui_template","z":"b3e4bae0.0cef98","group":"c4f2a830.eaf5e8","name":"Hazard Event Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1148.4285202026367,"y":232,"wires":[[]]},{"id":"bf3fc604.0178d8","type":"ui_template","z":"b3e4bae0.0cef98","group":"80763cb8.b61b4","name":"JS Code Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1139.4285202026367,"y":281,"wires":[[]]},{"id":"cab7836f.3037","type":"ui_template","z":"b3e4bae0.0cef98","group":"bd52ac32.dd0da","name":"Shield Association Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1161.178482055664,"y":331.2500066757202,"wires":[[]]},{"id":"9c4b3619.2ecdd8","type":"ui_template","z":"b3e4bae0.0cef98","group":"15528280.62e5be","name":"Shield Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1119.928482055664,"y":380.00000762939453,"wires":[[]]},{"id":"f8b54c06.157f2","type":"ui_form","z":"b3e4bae0.0cef98","name":"Connect to Iot4I","label":"","group":"def05133.04359","order":0,"width":"0","height":"0","options":[{"label":"Uri","value":"uri","type":"text","required":true},{"label":"Userid","value":"userid","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"uri":"","userid":"","password":""},"payload":"","topic":"","x":85,"y":30.714285850524902,"wires":[["6d8497da.05be98"]]},{"id":"6d8497da.05be98","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var serviceConfig = msg.payload;\nmsg.payload = {};\nmsg.payload.configs = serviceConfig;\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":28.714285850524902,"wires":[["ed7a10ed.cdc2f"]]},{"id":"b9889685.93a748","type":"ui_form","z":"b3e4bae0.0cef98","name":"Create Shield","label":"","group":"cd673806.46c358","order":0,"width":"0","height":"0","options":[{"label":"UUID","value":"UUID","type":"text","required":true},{"label":"name","value":"name","type":"text","required":true},{"label":"type","value":"type","type":"text","required":false},{"label":"description","value":"description","type":"text","required":false},{"label":"image","value":"image","type":"text","required":false},{"label":"canBeDisabled","value":"canBeDisabled","type":"text","required":false},{"label":"hazardDetectionOnCloud","value":"hazardDetectionOnCloud","type":"text","required":false},{"label":"jsCodeMethod","value":"jsCodeMethod","type":"text","required":true},{"label":"actions","value":"actions","type":"text","required":false},{"label":"potentialClaimAmount","value":"potentialClaimAmount","type":"text","required":false},{"label":"shieldParameters","value":"shieldParameters","type":"text","required":false}],"formValue":{"UUID":"","name":"","type":"","description":"","image":"","canBeDisabled":"","hazardDetectionOnCloud":"","jsCodeMethod":"","actions":"","potentialClaimAmount":"","shieldParameters":""},"payload":"","topic":"","x":77.85714340209961,"y":224.82142317295074,"wires":[["ebde4f4a.78ae3"]]},{"id":"ebde4f4a.78ae3","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var shield = msg.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShield';\nmsg.payload.api = 'createShield';\nmsg.payload.shield = shield;\nreturn msg;","outputs":1,"noerr":0,"x":236.8571434020996,"y":225.82142317295074,"wires":[["ed7a10ed.cdc2f"]]},{"id":"34a8d6b.3e5382a","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var shieldUuid =  msg.payload.shieldUuid;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShield';\nmsg.payload.api = 'getShieldsPerUUID';\nmsg.payload.uuid = shieldUuid;\nreturn msg;","outputs":1,"noerr":0,"x":241.3571434020996,"y":283.82142317295074,"wires":[["ed7a10ed.cdc2f"]]},{"id":"e6ef7862.3cdf68","type":"ui_form","z":"b3e4bae0.0cef98","name":"Read Shield","label":"","group":"99cabeae.cf31b","order":0,"width":"6","height":"15","options":[{"label":"shieldUuid","value":"shieldUuid","type":"text","required":true}],"formValue":{"shieldUuid":""},"payload":"","topic":"","x":77.85714340209961,"y":281.82142317295074,"wires":[["34a8d6b.3e5382a"]]},{"id":"43e6c9c0.de8f98","type":"ui_form","z":"b3e4bae0.0cef98","name":"Create Shield JSCode","label":"","group":"452cf8e3.a47378","order":0,"width":"0","height":"0","options":[{"label":"name","value":"name","type":"text","required":true},{"label":"shieldUUID","value":"shieldUUID","type":"text","required":true},{"label":"type","value":"type","type":"text","required":true},{"label":"code","value":"code","type":"text","required":true}],"formValue":{"name":"","shieldUUID":"","type":"","code":""},"payload":"","topic":"","x":105,"y":365.39287757873535,"wires":[["7081bc2a.8fd6f4"]]},{"id":"7081bc2a.8fd6f4","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var jsCode = msg.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIJSCode';\nmsg.payload.api = 'createJSCode';\nmsg.payload.jsCode = jsCode;\nreturn msg;","outputs":1,"noerr":0,"x":279.71428298950195,"y":366.39286613464355,"wires":[["ed7a10ed.cdc2f"]]},{"id":"b0174d2f.1b3f3","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var shieldUuid =  msg.payload.shieldUuid;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIJSCode';\nmsg.payload.api = 'getJSCodesPerShieldUUUID';\nmsg.payload.shieldUUUID = shieldUuid;\nreturn msg;","outputs":1,"noerr":0,"x":274.21429443359375,"y":422.9643111228943,"wires":[["ed7a10ed.cdc2f"]]},{"id":"780b6b8f.460664","type":"ui_form","z":"b3e4bae0.0cef98","name":"Read Shield JSCode","label":"","group":"f5be6e66.aa694","order":0,"width":"6","height":"15","options":[{"label":"shieldUuid","value":"shieldUuid","type":"text","required":true}],"formValue":{"shieldUuid":""},"payload":"","topic":"","x":95,"y":422.39287757873535,"wires":[["b0174d2f.1b3f3"]]},{"id":"fb03599f.d5a478","type":"ui_form","z":"b3e4bae0.0cef98","name":"Create Shield Association","label":"","group":"9f9f845e.ea4d58","order":0,"width":"0","height":"0","options":[{"label":"shieldUUID","value":"shieldUUID","type":"text","required":true},{"label":"username","value":"username","type":"text","required":true},{"label":"hazardDetectionOnCloud","value":"hazardDetectionOnCloud","type":"text","required":true}],"formValue":{"shieldUUID":"","username":"","hazardDetectionOnCloud":""},"payload":"","topic":"","x":115,"y":491.1071720123291,"wires":[["a8c90f4a.c7bfa"]]},{"id":"a8c90f4a.c7bfa","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var shieldAssociation = msg.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShieldAssociation';\nmsg.payload.api = 'createShieldAssociation';\nmsg.payload.shieldAssociation = shieldAssociation;\nreturn msg;","outputs":1,"noerr":0,"x":299.7142753601074,"y":492.10716247558594,"wires":[["ed7a10ed.cdc2f"]]},{"id":"cc62e518.9bd538","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var username =  msg.payload.username;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIShieldAssociation';\nmsg.payload.api = 'getShieldAssociationsPerUser';\nmsg.payload.username = username;\nreturn msg;","outputs":1,"noerr":0,"x":299.92859268188477,"y":547.2499928474426,"wires":[["ed7a10ed.cdc2f"]]},{"id":"cc51f63e.8ad5c8","type":"ui_form","z":"b3e4bae0.0cef98","name":"Read Shield Association","label":"","group":"2468a50d.c18caa","order":0,"width":"6","height":"15","options":[{"label":"shieldUuid","value":"shieldUuid","type":"text","required":true}],"formValue":{"shieldUuid":""},"payload":"","topic":"","x":115,"y":548.1071720123291,"wires":[["cc62e518.9bd538"]]},{"id":"d372f1a.4b3ff1","type":"ui_template","z":"b3e4bae0.0cef98","group":"df2196c2.a73aa8","name":"Global Results","order":0,"width":"6","height":"15","format":"<pre ng-style=\"{'clear': 'both'; 'word-wrap': 'break-word';}\" ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1127.4285202026367,"y":186,"wires":[[]]},{"id":"75532e81.742c9","type":"ui_form","z":"b3e4bae0.0cef98","name":"Simulate Event","label":"","group":"2f71589f.ef95c8","order":0,"width":"0","height":"0","options":[{"label":"outputtype","value":"outputtype","type":"text","required":true},{"label":"devicetype","value":"devicetype","type":"text","required":true},{"label":"deviceid","value":"deviceid","type":"text","required":true},{"label":"type","value":"type","type":"text","required":true},{"label":"payload","value":"payload","type":"text","required":true}],"formValue":{"outputtype":"","devicetype":"","deviceid":"","type":"","payload":""},"payload":"","topic":"","x":85,"y":610,"wires":[["78ec3966.509db8"]]},{"id":"78ec3966.509db8","type":"function","z":"b3e4bae0.0cef98","name":"","func":"var outputType = msg.payload.outputtype;\nvar deviceType = msg.payload.devicetype;\nvar deviceId = msg.payload.deviceid;\nvar type = msg.payload.type;\nvar payload = msg.payload.payload;\nmsg.payload = {};\nmsg.payload.apiGroup = 'IotIGlobal';\nmsg.payload.api = 'sendPayloadToMQTT';\nmsg.payload.outputType = outputType;\nmsg.payload.deviceType = deviceType;\nmsg.payload.deviceId = deviceId;\nmsg.payload.type = type;\nmsg.payload.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":299.7142753601074,"y":610.9999904632568,"wires":[["ed7a10ed.cdc2f"]]},{"id":"d003962e.9f5818","type":"function","z":"b3e4bae0.0cef98","name":"","func":"msg.payload = {};\nmsg.payload.apiGroup = 'IotIHazardEvent';\nmsg.payload.api = 'getHEventsForAuthUser';\nreturn msg;","outputs":1,"noerr":0,"x":299.7142753601074,"y":689.7499904632568,"wires":[["ed7a10ed.cdc2f"]]},{"id":"7e61a911.13ccb8","type":"ui_button","z":"b3e4bae0.0cef98","name":"Get Hazard Events","group":"5e03c049.fb392","order":0,"width":0,"height":0,"label":"Get Events","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":95,"y":688.7500100135803,"wires":[["d003962e.9f5818"]]}]